<%- include('include/_header') %>

<link rel="stylesheet" href="/css/addItem.css" />
<main>
  <div class="wrapper">
    <div class="add-items">
      <h1>Add Item</h1>

      <label for="name">Name</label>
      <input type="text" id="name" name="name" required />
      <label for="price">Price</label>
      <input type="number" id="price" name="price" required />
      <label for="description">Description</label>
      <input type="text" id="description" name="description" />
      <label for="image">Image</label>
      <!-- File upload for image input -->
      <input type="file" id="image" name="image" accept="image/*" />

      <label for="images">Second Image</label>
      <!-- File upload for second image input -->
      <input type="file" id="images" name="images" accept="image/*" />

      <label>Does this item come in sizes?</label>
      <input
        type="checkbox"
        id="sized-check"
        name="sized-check"
        value="sized"
      />

      <div id="generic-size-input">
        <label for="generic-quantity">Quantity</label>
        <input
          type="number"
          id="generic-quantity"
          name="generic-quantity"
          required
        />
      </div>

      <div id="size-input" class="sizes" style="display: none">
        <div class="size-entry">
          <label for="size-0">Size Type</label>
          <input type="text" id="size-0" class="size" placeholder="Size" />
          <label for="size-quantity-0">Quantity</label>
          <input
            type="number"
            id="size-quantity-0"
            class="quantity"
            name="size-quantity[]"
            placeholder="Quantity"
            required
          />
        </div>
        <button type="button" id="add-size">+ Add Size</button>
      </div>

      <input type="submit" class="submit" value="Add Item" />
    </div>
  </div>
</main>

<script>
  // function addSizeInput() {
  //   var sizeInput = document.getElementById("size-input");
  //   var newSizeEntry = document.createElement("div");
  //   newSizeEntry.classList.add("size-entry");
  //   var sizeIndex = document.querySelectorAll(".size-entry").length;
  //   newSizeEntry.innerHTML = `
  //     <label for="size-${sizeIndex}">Size Type</label>
  //     <input type="text" id="size-${sizeIndex}" name="size[]" placeholder = "Size" />
  //     <label for="size-quantity-${sizeIndex}">Quantity</label>
  //     <input type="number" id="size-quantity-${sizeIndex}" name="size-quantity[]" placeholder ="Quantity" required />
  //     <button type="button" class = "remove-size-button" onclick="removeSizeInput(this)">- Remove Size</button>
  //   `;
  //   var addButton = document.getElementById("add-size-button");
  //   sizeInput.insertBefore(newSizeEntry, addButton);
  // }

  // function removeSizeInput(button) {
  //   button.parentElement.remove();
  // }
</script>

<script>
  function toggleSizeInput() {
    const sizeInput = document.getElementById("size-input");
    const checkBox = document.getElementById("sized-check");
    const genericSizeInput = document.getElementById("generic-size-input");
    if (checkBox.checked) {
      sizeInput.style.display = "block";
      genericSizeInput.style.display = "none";
    } else {
      sizeInput.style.display = "none";
      genericSizeInput.style.display = "block";
    }
  }
</script>

<script src="/dist/addItem.bundle.js"></script>

<%- include('include/_footer') %>
