<%- include('include/_header') %>

<main>
  <h1>Add Item</h1>
  <form action="/addItem" method="POST">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" required />
    <label for="price">Price</label>
    <input type="number" id="price" name="price" required />
    <label for="quantity">Quantity</label>
    <input type="number" id="quantity" name="quantity" required />

    <input type="submit" class = "Submit" value="Add Item" />
  </form>

  <div>
</main>

<script src = "/js/addItem.js"></script>

<%- include('include/_footer') %>