<%- include('include/_header') %>

<main>
  <h1>Add Item</h1>

    <label for="name">Name</label>
    <input type="text" id="name" name="name" required />
    <label for="price">Price</label>
    <input type="float" id="price" name="price" required />
    <label for="quantity">Quantity</label>
    <input type="number" id="quantity" name="quantity" required />
    <label for="description">Description</label>
    <input type = "text" id="description" name="description" />

    <input type="submit" class = "submit" value="Add Item" />


  <div>
</main>

<script src = "/js/addItem.js"></script>

<%- include('include/_footer') %>