<%- include('include/_header') %>

<link rel="stylesheet" href="/css/addItem.css" />
<main>
  <div class="wrapper">
    <div class="add-items">
      <h1>Add Item</h1>

      <label for="name">Name</label>
      <input type="text" id="name" name="name" required />
      <label for="price">Price</label>
      <input type="float" id="price" name="price" required />
      <label for="description">Description</label>
      <input type="text" id="description" name="description" />
      <label for="image">Image</label>
      <!-- File upload for image input -->
      <input type="file" id="image" name="image" accept="image/*" />

      <label>Does this item come in sizes?</label>
      <input
        type="checkbox"
        id="sized-check"
        name="sized-check"
        value="sized"
        onchange="toggleSizeInput()"
      />

      <div id="generic-size-input">
        <label for="generic-quantity">Quantity</label>
        <input
          type="number"
          id="generic-quantity"
          name="generic-quantity"
          required
        />
      </div>

      <div id="size-input" style="display: none">
        <div class="size-entry">
          <label for="size">Size Type</label>
          <input type="text" name="size[]" value="small" />
          <label for="size-quantity">Quantity</label>
          <input type="number" name="size-quantity[]" required />
        </div>
        <button type="button" onclick="addSizeInput()">+ Add Size</button>
      </div>

      <input type="submit" class="submit" value="Add Item" />
    </div>
  </div>
</main>

<script>
  function toggleSizeInput() {
    var sizeInput = document.getElementById("size-input");
    var checkBox = document.getElementById("sized-check");
    var genericSizeInput = document.getElementById("generic-size-input");
    if (checkBox.checked) {
      sizeInput.style.display = "block";
      genericSizeInput.style.display = "none";
    } else {
      sizeInput.style.display = "none";
      genericSizeInput.style.display = "block";
    }
  }

  function addSizeInput() {
    var sizeInput = document.getElementById("size-input");
    var newSizeEntry = document.createElement("div");
    newSizeEntry.classList.add("size-entry");
    newSizeEntry.innerHTML = `
      <label for="size">Size Type</label>
      <input type="text" name="size[]" value="small" />
      <label for="size-quantity">Quantity</label>
      <input type="number" name="size-quantity[]" required />
    `;
    sizeInput.insertBefore(newSizeEntry, sizeInput.querySelector("button"));
  }
</script>

<script src="/js/addItem.js"></script>

<%- include('include/_footer') %>
