<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<!-- Main Site -->
<main>
  <h1>Look at this admin page</h1>
  <p>Imagine that there is a lot of <b><u>really cool</u></b> stuff here</p>
</main>
<!-- /Main Site -->

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->