<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<link rel="stylesheet" href="/css/admin.css">

<main>
  <h1><b>Manage Inventory</b></h1>

  <div>
    <a class="admin-link" href="addItem" id="addItem"
      ><strong>Add Item</strong></a
    >
    <a class="admin-link" href="manageItems" id="editItem"
      ><strong>Manage Items</strong></a
    >
    <a class="admin-link" href="inventorylist" id="inventorylist"
      ><strong>View Inventory</strong></a
    >
  </div>

  <h1>Student Orders</h1>

  <table>
    <tr>
      <th> Name </th>
      <th> Email </th>
      <th> Order </th>
      <th> Pickup time </th>
      <th> Delete </th>
    </tr>
    <tr>
      <th> Benjamin </th>
      <th> email.com </th>
      <th> a shirt </th>
      <th> 5th period</th>
    </tr>
  </table>

</main>

<!-- /Main Site -->

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
