<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<!-- Main Site -->

<link rel="stylesheet" href="/css/admin.css">

<main>
  <h1>Student Orders</h1>
  <table>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Order</th>
      <th>Pickup Period</th>
      <th>del</th>
    </tr>

    <!-- Once the list of orders and info is made, we could use a for loop to create the rest of the list -->

    <tr>
      <th>Benjamin Pozzi</th>
      <th>bmpozzi@stu.naperville203.org</th>
      <th>2 locks, 15 shirts</th>
      <th>4th period</th>
    </tr>

    <!-- The for loop would go between these two comment lines -->

  </table>
</main>

<!-- /Main Site -->



<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->