<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<!-- Main Site -->
<main>
  <h1>Student Orders</h1>
  <div id="grid-row">
    <div class="cell">Cell</div> <div class="cell">Cell</div>
    <div class="cell">Cell</div> <div class="cell">Cell</div>
    <div class="cell">Cell</div> <div class="cell">Cell</div>
  </div>
</main>

<!-- /Main Site -->



<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->