<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<link rel="stylesheet" href="/css/admin.css" />

<main>
  <div class="wrapper">
    <h1><b>Manage Store</b></h1>

    <div>
      <a class="admin-link" href="inPersonManagement" id="inPersonManagement">
        <strong>In-Person Store Management</strong>
      </a>
      <a class="admin-link" href="addItem" id="addItem"
        ><strong>Add Item</strong></a
      >
      <a class="admin-link" href="orderViewer" id="orderViewer"
        ><strong>View Orders</strong></a
      >
      <a class="admin-link" href="manageItems" id="editItem"
        ><strong>Manage Items</strong></a
      >
      <a class="admin-link" href="inventorylist" id="inventorylist"
        ><strong>View Inventory</strong></a
      >
      <a class="admin-link" href="setTimes" id="setTimes"
        ><strong>Set Times</strong></a
      >
    </div>

    
  </div>
</main>

<!-- /Main Site -->

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
