<!-- cSpell:ignoreRegExp /[^\s]{40,}/ -->

<!-- include header -->
<!-- /include header -->

<script src="/js/auth.js"></script>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Habits of Mind Journal</title>
  <link rel="stylesheet" href="/css/pico.min.css" />
  <link rel="stylesheet" href="/css/styles.css" />
</head>
<!-- Main Site -->
<main>
  <div class="authForm">
    <img src="/img/SE-GitHub-image.png" alt="Huskie code logo" />

    <!-- from https://developers.google.com/identity/gsi/web/guides/migration#redirect-mode_1 -->
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <div
      id="g_id_onload"
      data-client_id="1022838194773-p8g5ac0qr11mfko61qurgnqdb9jitpjf.apps.googleusercontent.com"
      data-context="signin"
      data-callback="handleCredentialResponse"
      data-auto_prompt="false"
    ></div>
    <div class="g_id_signin" data-type="standard"></div>
  </div>
</main>

<!-- /Main Site -->

<!-- include footer -->

<!-- /include footer -->
