<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<!-- Main Site -->

<!-- Add your CSS file link here -->
<!-- styles.css and navbar.css are imported in the header -->

<main>
  <div class="wrapper">
    <!-- Write HTML here -->
    <h1>Order Confirmation</h1>
    <p>
      Thank you for your order! Please check your email for the order
      confirmation and pickup details.
    </p>
  </div>
</main>

<!-- /Main Site -->

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
