<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<!-- Main Site -->

<main>
  <div class="wrapper">
    <h1>Edit Email Text</h1>

    <h2>Order Confirmation</h2>
    <p>To School Store Email:</p>
    <textarea></textarea>

    <p>To Student Email:</p>
    <textarea></textarea>

    <h2>Order Cancellation</h2>
    <textarea></textarea>
  </div>
</main>

<!-- /Main Site -->

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
