<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<!-- Main Site -->
<main>
 
  <div class = "homePageInformation">
  <p>The Naperville North Huskie Store is open Monday through Friday during 4th, 5th, and 6th period</p>
  <h2>Hours</h2>
  <ul>
    <li>Monday: 10:36am - 1:18pm</li>
    <li>Tuesday: 11:05am - 1:30pm</li>
    <li>Wednesday: 11:21am - 1:36pm</li>
    <li>Thursday: 11:05am - 1:30pm</li>
    <li>Friday: 10:36am - 1:18pm</li>
  <div>
</main>

<!-- /Main Site -->

<script src="/js/index.js"></script>

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
