<link rel="stylesheet" href="/css/admin.css">

<body onload="window.print()"> <!-- This is the same block of code from the previous page, but the body loads up a print screen instantly so the user can either print it or download it as a pdf -->
  <table>
    <% items.forEach(function(item) { %>
    <th colspan = 10>
      <b> <%= item.name %> </b>
    </th>
    <tr></tr>
      <% for (let size in item.sizes) { %>
        <% if (size == "placeholder") { %>
          <th> <%= item.sizes[size] %> </th>
        <% } %>
        <% if (size != "placeholder") { %>
          <th> <%= size + ": " + item.sizes[size] %> </th>
        <% } %>
      <% } %>
    <tr></tr>
    <% }) %>
  </table>
</body>