<link rel="stylesheet" href="/css/admin.css">

<body onload="window.print()">
  <table>
    <tr>
      <th> Item </th>
      <th> Quantity </th>
      <th> palce </th>
    </tr>
    <% items.forEach(function(item) { %>
    <tr>
      <th> <%= item.name %> </th>
      <% if (item.sizes) { %> <% for (let size in item.sizes) { %>
        <th> <%= item.sizes[size] %> </th>
      <% } %>
      <% } %>
    </tr>
    <% }) %>
  </table>
</body>