<link rel="stylesheet" href="/css/admin.css">

<body onload="window.print()">
  <table>
    <tr>
      <th colspan = "10"> Items & Quantities </th>
    </tr>
    <% items.forEach(function(item) { %>
    <tr>
      <th> <%= item.name %> </th>
      <% if (item.sizes) { %> <% for (let size in item.sizes) { %>
        <th> <%= size + ": " + item.sizes[size] %> </th>
      <% } %>
      <% } %>
    </tr>
    <% }) %>
  </table>
</body>