<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<link rel="stylesheet" href="/css/admin.css">
<main>
  <h1>Inventory Spreadsheet</h1>

  <table>
    <tr>
      <th> Name </th>
      <th> Amount Remaining </th>
    </tr>
    <% items.forEach(function(item) { %>
    <tr>
      <th> <%= item.name %> </th>
      <th> <%= item.quantity %> </th>
    </tr>
    <% }) %>
  </table>

  <div>
    <h1>View as a spreadsheet</h1>
  </div>

</main>

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->