<link rel="stylesheet" href="/css/admin.css">

<body onload="window.print()"> <!-- This is the same block of code from the previous page, but the body loads up a print screen instantly so the user can either print it or download it as a pdf -->
  <table>
    <tr>
      <th colspan = "10"> Items & Quantities </th> <!-- The colspan is set to 10 to make sure that the top row stretches over all of the columns -->
    </tr>
    <% items.forEach(function(item) { %>
    <tr>
      <th> <%= item.name %> </th>
      <% if (item.sizes) { %> 
        <% for (let size in item.sizes) { %>
          <% if (size == "placeholder") { %>
            <th> <%= item.sizes[size] %> </th>
          <% } %>
          <% if (size != "placeholder") { %>
            <th> <%= size + ": " + item.sizes[size] %> </th>
          <% } %>
      <% } %>
      <% } %>
    </tr>
    <% }) %>
  </table>
</body>