<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<!-- Main Site -->

<!-- Add your CSS file link here -->
<!-- styles.css and navbar.css are imported in the header -->
<link href="CSS LINK HERE" rel="stylesheet" />

<!-- Write HTML here -->

<main>
  <div class="wrapper"></div>
</main>

<!-- /Main Site -->

<script src="JS LINK HERE"></script>

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
