<link rel="stylesheet" href="/css/splashPage.css" />

<!-- Popup Modal -->
<div id="popup-modal" class="popup-modal">
  <div class="popup-content">
    <button class="popup-close" id="popup-close-btn">&times;</button>
    <h1>Welcome to the School Store</h1>
  </div>
</div>

<script src="/js/splashPage.js"></script>
