<%- include('include/_header') %>

<link rel="stylesheet" href="/css/splashPage.css" />

<main>
  <div class="wrapper">
    <!-- Popup Modal -->
    <div id="popup-modal" class="popup-modal">
      <div class="popup-content">
        <button class="popup-close" id="popup-close-btn">&times;</button>
        <!-- Popup content goes here -->
      </div>
    </div>
  </div>
</main>

<script src="/js/splashPage.js"></script>

<%- include('include/_footer') %>
