<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<link rel="stylesheet" href="/css/admin.css">
<main>
  <h1>Student Orders</h1>

  <table>
    <tr>
      <th> Name </th>
      <th> Email </th>
      <th> Order </th>
      <th> Pickup Time </th>
      <th> Delete </th>
    </tr>
    <tr>
      <th> Benjamin </th>
      <th> SuperBilly@email.com </th>
      <th> Really long order to test the stretching of the boxes </th>
      <th> 5th period </th>
    </tr>
  </table>

  <div>
    <h1>View as a spreadsheet</h1>
  </div>

</main>

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->