<footer class="site-footer">
    <div class="footer-content">
        <p><strong>Address:</strong> 899 N Mill St, Naperville, IL 60563</p>
        <p><strong>Phone:</strong> (123) 456-7890</p>
        <p><strong>Email:</strong> info@huskieschool.com</p>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2025 Naperville North Huskie Store. All Rights Reserved.</p>
    </div>
</footer>

</body>



</html>