
<link rel = "stylesheet" href = "/css/footer.css" />
<footer class="site-footer">
    <div class="footer-content">
        <p><strong>Address:</strong>899 N Mill St, Naperville, IL 60563</p>
        <p><strong>Email:</strong>napervillenorthschoolstore@gmail.com</p>
    </div>
    <div class="footer-links">
        <a href="/team">Meet the school store team!</a>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2025 Naperville North Huskie Store</p>
    </div>
</footer>
</div>

</body>

</html>