<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>School Store</title>
    <link rel="stylesheet" href="/css/pico.min.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/navbar.css" />

    <nav class="navbar">
      <div onclick="window.location.href='/'" class="logo">Naperville North School Store <img src = "/img/Mascot.png" alt = "Huskie Logo" class = "logo-image"> </div>
        <ul class="nav-links">
            <% if ( session && session.isAdmin ) { %>
            <li><a href="/admin"><strong>View Orders</strong></a></li>
            <% } %>
            <li><a href="/#home"><strong>Home</strong></a></li>
            <li><a href="/#cart"><strong>Cart</strong></a></li>
            <li><a href="/#contact"><strong>Contact</strong></a></li>
            <li><a href="/logout"><strong>Logout</strong></a></li>
        </ul>
          
    </nav>
    

  </div>
  </head>
  <body>
    

