<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Habits of Mind Journal</title>
    <link rel="stylesheet" href="/css/pico.min.css" />
    <link rel="stylesheet" href="/css/styles.css" />



    <!--
     <div class="homePageToolBar">
    <img src="img/NN_large.jpg" alt="Huskie Code Logo"/>
    <h1>Naperville North School Store</h1>
     -->

    <nav class="navbar">
      <div class="logo">Naperville North School Store <img src = img/Huskie-Box.png alt = "Huskie Logo" class = "logo-image"> </div>
        <ul class="nav-links">
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>

  </div>
  </head>

  

  <body>
