table {
  display: flex;
  justify-content: center;
  font-family: Arial, sans-serif;
  color: #ffffff;
}


th,
tr {
  border: 6px solid;
  font-family: Arial, sans-serif;
  color: #FF4800;
  /* padding: 8px; */
  background-color: #dfdfdf;
}

h1 {
  display: flex;
  font-size: 4em;
  color: #FF4800;
  font-family: Arial, sans-serif;
  justify-content: center;
}

/* link styling */
a.admin-link {
  background-color: #002f55;
  padding: 20px;
  border-radius: 5px;
  margin-right: 35%;
  margin-left: 35%;
  display: flex;
  color: rgb(0, 68, 255);
  justify-content: center;
  margin-top: 5%;
}

a.admin-link#editItem {
  background-color: #ff4800;
  color: white;
}

a.admin-link#editItem:hover {
  background-color: rgb(252, 36, 36);
}

a.admin-link#addItem:hover {
  background-color: #01447a;
}
