table {
  display: flex;
  justify-content: center;
  color: black;
}

th, tr {
  border: 2px solid;
  color: black;
  /* padding: 8px; */
  background-color: lightgrey;
}

h1 {
  display: flex;
  justify-content: center;
}