table {
  border-collapse: collapse;
  display: flex;
  justify-content: center;
  font-family: Arial, sans-serif;
  padding: 20px;
  margin-bottom: 20px;
}

th {
  border: 2px solid;
  font-size: 20px;
  min-width: 200px;
  min-height: 40px;
}

tr {
  border: 2px solid;
  font-family: Arial, sans-serif;
}

h1 {
  display: flex;
  font-size: 4em;
  color: #ff4800;
  font-family: Arial, sans-serif;
  justify-content: center;
}

/* link styling */
a.admin-link {
  background-color: #01447a;
  padding: 20px;
  border-radius: 5px;
  margin-right: 35%;
  margin-left: 35%;
  display: flex;
  color: rgb(255, 255, 255);
  justify-content: center;
  margin-top: 10px;
}

a.admin-link#orderViewer {
  background-color: #ff4800;
  color: white;
}
