table {
  display: flex;
  justify-content: center;
  color: black;
}

th,
tr {
  border: 2px solid;
  color: black;
  /* padding: 8px; */
  background-color: lightgrey;
}

h1 {
  display: flex;
  justify-content: center;
}

/* link styling */
a.admin-link {
  background-color: rgba(144, 144, 255, 0.5);
  padding: 20px;
  border-radius: 5px;
  margin-right: 35%;
  margin-left: 35%;
  display: flex;
  color: rgb(0, 68, 255);
  justify-content: center;
  margin-top: 5%;
}

a.admin-link#editItem {
  background-color: rgb(157, 255, 157);
  color: rgb(0, 126, 17);
}

a.admin-link#editItem:hover {
  background-color: rgba(65, 238, 59, 0.8);
}

a.admin-link#addItem:hover {
  background-color: rgba(144, 144, 255, 0.8);
}
