/* styling for the authentication page */

h1,
h2,
p {
  text-align: center;
}

p {
  font-size: 1.2rem;
}

.authForm {
  display: flex;
  margin: auto;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.authForm img {
  width: 100px;
  height: 100px;
}
