/* Style the Item page so that image is on the left and information such as description and size selectors are on the right*/

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
  padding: 2.5%;
}

.item-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 1%;
}

/* I want the image aligned along the left side of the viewport */

img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  align-self: flex-start;
  border: solid 5px #002f55;
}
.img-secondary {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  align-self: flex-start;
  border: solid 5px #002f55;
}

p {
  color: #002f55;
}

.item-content {
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  border-bottom: solid 2px #002f55;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.item-content h1 {
  color: #002f55;
  font-size: 2em;
  font-weight: bold;
  border-bottom: solid 2px #002f55;
  padding-bottom: 10px;
}

.item-actions {
  border: solid 1px #002f55;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin-top: 20px;
  height: 200px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.quantity-selector {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 8px;
  padding: 10px;
  width: 100%;
}

select#quantity {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

label#quantity-label {
  color: #002f55;
  font-size: 1.2em;
  font-weight: bold;
}

input {
  width: 75%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

select#size {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#toggle-image {
  margin-top: 10px;
  padding: 10px 15px;
  background: none;
  border: none;
  font-size: 24px;
  color: #002f55;
  cursor: pointer;
}

#toggle-image:hover {
  color: #004080;
}

@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
  }

  .item-content {
    align-items: center;
    text-align: center;
  }
}

.item-image {
  width: 100%;
  max-width: 1200px; /* Set a larger maximum width */
  height: auto;
}
