/* Navbar styling */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #002f55; /* Dark background */
  padding: 10px 20px;
  color: #fff;
  height: auto;
}

li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-header {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.navbar .logo {
  font-size: 1.5em;
  font-weight: bold;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  gap: 10px; /* Add spacing between the text and image */
  width: fit-content;
}

.logo-image {
  height: 40px; /* Adjust size to fit within the navbar */
  width: auto; /* Maintain aspect ratio */
  display: block; /* Ensure proper spacing */
}

.nav-links {
  list-style: none;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 15px;
}

.nav-links a {
  position: relative;
  text-decoration: none;
  color: #ffffff;
  padding: 0 10px;
}

.nav-links a:after {
  content: "";
  position: absolute;
  background-color: #ffffff;
  height: 3px;
  width: 0;
  left: 50%;
  bottom: -10px;
  transition: width 0.3s ease, left 0.3s ease;
  transform: translateX(-50%);
}

.nav-links a:hover:after {
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
}

#open-menu {
  margin-left: auto;
  align-self: flex-end;

  display: none;
}

/* Responsive navbar styling */
@media (max-width: 900px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links {
    flex-direction: column;
    width: 100%;
    gap: 10px;

    display: none;
  }

  .nav-links.show {
    display: block;
  }

  .nav-links li {
    width: 100%;
    text-align: center;
  }

  .nav-links a {
    padding: 10px;
    width: 100%;
  }

  #open-menu {
    display: block;
  }

  .nav-links li + li {
    margin-top: 10px;
  }
}

button {
  height: 40px; /* Adjust height to match the navbar items */
  width: auto; /* Allow width to adjust based on content */
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-button {
  background-color: transparent;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 0 10px;
  cursor: pointer;
  text-decoration: none;

  /* Add these properties to match the link font */
  font-family: inherit; /* Use the same font as the parent element */
  font-size: inherit; /* Match the font size of the parent */
  font-weight: inherit; /* Match the font weight of the parent */
}
