.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full height */
  color: #002f55;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #333;
  display: flex;
  flex-direction: column;
}

h3 {
  color: #ffffff;
  font-size: 1.2em;
  margin-bottom: 10px;
  font-weight: bold;
}

/* Store front image styling */

.store-front {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  object-fit: cover;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  clip-path: inset(0 0 10% 0);
}

/* crop the weight room photo so that it is a small sliver */
.weight-room {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Store info section */

.store-info {
  max-width: 600px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
}

.store-info h1 {
  font-size: 2em;
  margin-bottom: 10px;
  text-align: center;
}

.store-info p {
  font-size: 1.1em;
  margin-bottom: 20px;
  text-align: center;
  color: #555;
}

/* Store hours styles */
.store-hours h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #333;
  border-bottom: 2px solid #002f55;
  display: inline-block;
}

/* Store hours styles */
.store-hours {
  padding: 10px 20px; /* Add padding around the container */
  background-color: #f7f7f7; /* Optional: light background for distinction */
  border-radius: 8px; /* Rounded corners */
  margin-bottom: 20px; /* Space below the section */
}

.store-hours li {
  position: relative;
  margin: 8px 0; /* Add spacing between each list item */
  padding-left: 20px; /* Space for custom bullet */
  list-style: none;
}

.store-hours li::before {
  content: "•"; /* Custom bullet symbol */
  color: #002f55; /* Bullet color */
  font-size: 1.2em; /* Bullet size */
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.item-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 20px;
}

@media (max-width: 1200px) {
  .item-list {
    grid-template-columns: repeat(
      3,
      1fr
    ); /* 3 items per row for medium screens */
  }
}

@media (max-width: 768px) {
  .item-list {
    grid-template-columns: repeat(
      2,
      1fr
    ); /* 2 items per row for small screens */
  }
}

@media (max-width: 480px) {
  .item-list {
    grid-template-columns: 1fr; /* 1 item per row for extra small screens */
  }
}

.item {
  background-color: #002f55;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
/* 
.item:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0)
  );
  opacity: 0;
  transition: opacity 0.3s ease;
}

.item:hover::after {
  opacity: 1;
} */

.item h2 {
  font-size: 1.5em;
  color: #fff;
  margin-bottom: 10px;
}

.item p {
  color: #fff;
  margin-bottom: 10px;
}

/* Want to ensure that the aspect ratio remains 1 */
.item img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  align-self: flex-end;
}

.add-items {
  margin-left: 5%;
  margin-right: 5%;
}

.wrapper#manageItems h1 {
  display: flex;
  justify-content: center;
}

.item-link-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.manage-item-link {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  background-color: rgb(24, 97, 255);
  border-radius: 2px;
  padding: 10px 20px;
  width: 85%;
  text-decoration: none;
  color: white;
}

#item-add {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: solid, 2px, #002f55;
  border-radius: 8px;
}

#item-add h1 {
  color: #002f55;
  font-size: 10em;
}

#item-add:hover {
  background-color: #d1eaffad;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
  position: relative;
}

#item-add:hover::after {
  content: "Click to add item";
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  color: #002f55;
  font-size: 1.5em;
  opacity: 0;
  animation: fadeIn 0.3s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

button {
  background-color: #002f55;
  font-size: 15px;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: auto;
  display: flex;
  border-radius: 8px;
}

.export-link {
  background-color: #01447a;
  padding: 20px;
  border-radius: 5px;
  margin-right: 35%;
  margin-left: 35%;
  display: flex;
  color: rgb(255, 255, 255);
  justify-content: center;
  margin-top: 10px;

  font-weight: bold;
  text-decoration: none;
}
