/* styling for the authentication page */

.authForm {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.admin #grid-row {
  display: grid;
  flex-direction: row;
}

.authForm img {
  width: 100px;
  height: 100px;
}

.homePageToolBar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: navy;
}

.homePageToolBar img {
  flex-shrink: 0;
  width: 140px;
  height: 140px;
}

.homePageToolBar h1 {

  padding: 10px;
  margin-right: auto;
  color: orange;
  flex-direction:center;
  font-size: 40px;
}

.entry {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  border: black 1px solid;
}

.entryHabit {
  flex-basis: 200px;
}

.entryContent {
  flex-grow: 1;
}
